.book-issue-approval-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.book-issue-approval-container h1 {
    text-align: center;
    margin: 20px;
    color: #111111;
    font-size: 2.0rem;
    font-weight: bolder;
}

.error-message {
    color: red;
    text-align: center;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.modal-content button {
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}

.modal-content button:last-child {
    background-color: #f44336;
}

.modal-content button:last-child:hover {
    background-color: #e53935;
}

.table-data-container {
    margin: 20px;
    overflow-x: auto;
}

.table-data {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-data th, .table-data td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-data th {
    background-color: #fd154b;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}
